@charset "UTF-8";
:root {
  --button-color: #f66035;
  --button-hover-color: #f86f4c;
  --text-on-light: #f66035;
  --text-on-dark: #f66035;
  --text-on-button: #fff;
  --header-color: #313131;
  --header-border-color: #222222;
  --header-text-color: #ffffff; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 51%; } }

body {
  font-family: "Catamaran", sans-serif;
  scroll-behavior: smooth;
  font-weight: 300;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  position: relative; }

a {
  text-decoration: none; }

.container-main {
  max-width: 1170px;
  margin: 0 auto; }

.heading__primary {
  font-family: "Raleway", sans-serif;
  color: var(--text-on-button);
  font-size: 4.1rem;
  font-weight: 500;
  max-width: 30rem;
  line-height: 1.3; }
  .heading__primary--greencard {
    font-family: "Raleway", sans-serif;
    color: var(--text-on-button);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.25; }
    @media only screen and (max-width: 1050px) {
      .heading__primary--greencard {
        font-size: 5rem; } }
    @media only screen and (max-width: 700px) {
      .heading__primary--greencard {
        font-size: 2.9rem;
        font-weight: 700;
        text-align: center; } }

.header__paragraph {
  font-family: "Catamaran", sans-serif;
  font-size: 1.8rem;
  color: var(--text-on-button);
  font-weight: 200;
  line-height: 1.9;
  max-width: 340px; }
  .header__paragraph--greencard {
    font-family: "Catamaran", sans-serif;
    font-size: 2.6rem;
    color: var(--text-on-button);
    font-weight: 300;
    line-height: 1.7;
    max-width: 340px; }
    @media only screen and (max-width: 700px) {
      .header__paragraph--greencard {
        font-size: 2rem;
        max-width: none !important;
        text-align: center; } }

.paragraph-citizenship {
  font-family: "Catamaran", sans-serif;
  font-size: 2.6rem;
  color: var(--text-on-button);
  font-weight: 300;
  line-height: 1.7;
  max-width: 500px;
  font-size: 2rem; }
  @media only screen and (max-width: 1050px) {
    .paragraph-citizenship {
      font-size: 2.3rem; } }
  @media only screen and (max-width: 700px) {
    .paragraph-citizenship {
      max-width: none !important;
      font-size: 2rem;
      text-align: center; } }

.secondary-color-text {
  color: #f08421;
  font-weight: 600; }

.heading-form {
  font-family: "Raleway", sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  color: #f08421; }

.paragraph-form {
  font-family: "Catamaran", sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  color: white;
  max-width: 207px;
  margin: 0 auto; }
  .paragraph-form--greencard {
    color: #030303;
    font-size: 2rem; }

.heading__section {
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #144474; }

.paragraph-section {
  font-family: "Catamaran", sans-serif;
  font-weight: 200;
  font-size: 2.2rem;
  color: black;
  max-width: 100rem;
  margin: 0 auto; }
  .paragraph-section--2 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    color: black; }
  .paragraph-section--3 {
    font-family: "Catamaran", sans-serif;
    font-weight: 200;
    font-size: 2.2rem;
    color: #313131;
    max-width: 50rem;
    line-height: 2; }

.service-21 {
  font-weight: 700;
  color: #e58027;
  line-height: 1.8; }

.cc-title {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  color: #fff; }

.service-name,
.service-form-no {
  font-family: "Catamaran", sans-serif;
  font-weight: 200;
  font-size: 2.2rem;
  color: #030303; }
  @media only screen and (max-width: 355px) {
    .service-name,
    .service-form-no {
      font-size: 1.8rem; } }

.heading__tab {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #174171; }

.facility__heading {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #f08421;
  line-height: 1.2; }
  .facility__heading--small {
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #f08421; }

.facility__pargraph {
  font-family: "Catamaran", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.8; }
  @media only screen and (max-width: 695px) {
    .facility__pargraph {
      max-width: 45rem; } }

.heading__booking {
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.3;
  color: #f08421; }

.tab-paragraph {
  font-family: "Catamaran", sans-serif;
  font-size: 2.1rem;
  font-weight: 200;
  line-height: 1.8;
  color: #030303; }

.service__header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.3;
  color: #322868; }

.service__paragraph {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #322868; }

.checkmark {
  fill: #282e34;
  width: 7rem;
  height: 7rem; }

.paragraph__slider {
  max-width: 80rem;
  font-family: "Catamaran", sans-serif;
  font-weight: 200;
  font-size: 2.2rem;
  color: #fff; }
  @media only screen and (max-width: 860px) {
    .paragraph__slider {
      max-width: 47rem; } }

.green-card--inner li {
  font-size: 2rem !important; }

.green-card li {
  font-size: 2rem !important; }

.paragraph-notification {
  font-family: "Cardo", serif;
  font-size: 1.6rem;
  font-weight: normal;
  color: white;
  padding: 1.5rem;
  text-align: center; }
  @media only screen and (max-width: 500px) {
    .paragraph-notification {
      max-width: 300px; } }

.top-notification,
.bottom-notification {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f08421;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: hidden;
  transition: all 0.3s linear; }

.notification-close,
.notification-close-2 {
  font-family: sans-serif;
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #fff; }

.bottom-notification {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 300000; }

@media only screen and (max-width: 485px) {
  .pn-2 {
    font-size: 12px;
    padding: 1rem; } }

@media only screen and (max-width: 360px) {
  .notification-close-2 {
    top: 2px;
    right: 3px !important; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 3rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.5rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  color: white; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px); }

.btn--primary {
  background-color: #e58027;
  color: var(--text-on-button);
  font-family: "Catamaran", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 10rem; }
  .btn--primary::after {
    background-color: #e58027;
    border-radius: 10rem; }

.btn--blue {
  background-color: #174171;
  color: var(--text-on-button);
  font-family: "Catamaran", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 1rem;
  transition: all 0.2s; }
  .btn--blue::after {
    background-color: #174171;
    border-radius: 1rem; }
  .btn--blue:hover {
    background-image: radial-gradient(circle, #f08421 100%, #2058e1 100%) !important; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn--primary__blue {
  border: none;
  outline: none;
  background-color: #174171;
  color: var(--text-on-button);
  font-family: "Catamaran", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 10rem;
  padding: 1rem 3rem;
  transition: all 0.2s;
  cursor: pointer; }
  .btn--primary__blue:hover {
    background-color: #e58027 !important;
    color: white; }
  .btn--primary__blue:active, .btn--primary__blue:focus {
    outline: none;
    transform: translateY(-2px); }

.form-box {
  width: 40rem;
  min-height: 580px;
  background-color: #174171;
  border-radius: 1.5rem;
  border-top: 1.1rem solid #f08421;
  padding: 4.6rem 2.5rem 2rem 2.5rem;
  margin-left: auto;
  margin-right: 12vw; }
  @media only screen and (max-width: 1050px) {
    .form-box {
      width: 35rem;
      margin-right: 9vw; } }
  @media only screen and (max-width: 860px) {
    .form-box {
      margin-right: 3vw;
      height: 500px;
      min-height: auto; } }
  @media only screen and (max-width: 695px) {
    .form-box {
      width: 99%;
      margin: 0 auto; } }
  @media only screen and (max-width: 600px) {
    .form-box {
      width: 99%;
      margin: 0 auto; } }
  @media only screen and (max-width: 560px) {
    .form-box {
      width: 99%;
      margin: 0 auto; } }
  .form-box--greencard {
    width: 47rem;
    border: 0.5rem solid #f08421;
    border-radius: 17px;
    padding: 2rem 3.5rem;
    min-height: 330px;
    background-color: white; }
    @media only screen and (max-width: 1240px) {
      .form-box--greencard {
        width: 44rem; } }
    @media only screen and (max-width: 1050px) {
      .form-box--greencard {
        width: 40rem; } }
    @media only screen and (max-width: 860px) {
      .form-box--greencard {
        min-height: 300px; } }
    @media only screen and (max-width: 800px) {
      .form-box--greencard {
        width: 35rem; } }
    @media only screen and (max-width: 700px) {
      .form-box--greencard {
        width: 80vw;
        align-self: stretch; } }

.form__input {
  width: 100%;
  display: block;
  height: 4rem;
  background-color: #fff;
  padding: 0px 1rem;
  border: 2px solid #eba40c;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 200; }
  @media only screen and (max-width: 1050px) {
    .form__input {
      height: 40px; } }

.input-greencard {
  border: 1px solid #c7c7c7 !important; }

.form__label {
  visibility: hidden; }

.text-area {
  height: 8rem !important;
  padding: 10px;
  font-style: italic; }
  @media only screen and (max-width: 860px) {
    .text-area {
      height: 60px !important; } }

.form__label--booking {
  display: block;
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #fff;
  line-height: 1.8; }

.form-row-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem; }

.form__input--booking {
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  padding: 0 10px;
  font-family: "Catamaran", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff; }

.success-message {
  font-family: "Catamaran", sans-serif;
  font-size: 2.2rem;
  font-weight: 200;
  text-align: center;
  color: #f08421; }

.align-middle {
  text-align: center; }

.my-10 {
  margin-bottom: 1rem; }

.my-15 {
  margin-bottom: 1.5rem; }

.my-20 {
  margin-bottom: 2rem; }

.my-25 {
  margin-bottom: 2.5rem; }

.my-30 {
  margin-bottom: 3rem; }

.my-35 {
  margin-bottom: 3rem; }

.my-40 {
  margin-bottom: 4rem; }

.pu-70 {
  padding-top: 7rem !important; }

.max-410 {
  max-width: 41rem;
  margin-right: auto;
  margin-left: auto; }

.flex-center {
  align-items: center !important; }

.facility-container {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 695px) {
    .facility-container {
      flex-direction: column;
      justify-content: stretch;
      align-items: center; } }

.facility__card {
  background-color: white;
  padding: 2rem;
  box-shadow: rgba(155, 154, 154, 0.25) 0 3px 11px 0 !important; }
  @media only screen and (max-width: 695px) {
    .facility__card {
      margin-bottom: 10rem;
      margin-right: 0; } }

.facility__card:not(:last-child) {
  margin-right: 4rem;
  justify-content: space-between; }
  @media only screen and (max-width: 695px) {
    .facility__card:not(:last-child) {
      margin-right: 0; } }

.header {
  height: 610px;
  width: 100%;
  background-image: radial-gradient(circle, rgba(23, 65, 113, 0.9) 100%, rgba(32, 88, 225, 0.9) 100%), url("../img/photo-1550112764-28cf7fa2de60-2880w.jpg");
  background-position: 0 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 860px) {
    .header {
      height: 470px; } }
  @media only screen and (max-width: 695px) {
    .header {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.header-2 {
  height: 610px;
  width: 100%;
  background-position: 0 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 860px) {
    .header-2 {
      height: 470px; } }
  @media only screen and (max-width: 695px) {
    .header-2 {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.header-flexbox {
  padding: 2.5rem 6rem 2.5rem 6rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  @media only screen and (max-width: 840px) {
    .header-flexbox {
      padding-top: 100px;
      padding-bottom: 70px;
      height: auto !important; } }
  @media only screen and (max-width: 700px) {
    .header-flexbox {
      height: auto !important; } }
  @media only screen and (max-width: 700px) {
    .header-flexbox {
      width: 100%;
      padding-left: 3rem;
      padding-right: 3rem; } }

.header__main-area {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 700px) {
    .header__main-area {
      display: flex;
      flex-direction: column; } }

.header-flexbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem; }
  @media only screen and (max-width: 700px) {
    .header-flexbox-content {
      margin-right: 0; } }

.header-flexbox-content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5rem; }
  @media only screen and (max-width: 700px) {
    .header-flexbox-content-left {
      align-items: center;
      margin-right: 0; } }

.header-home__content {
  position: relative;
  left: 15%;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  z-index: 100; }
  @media only screen and (max-width: 860px) {
    .header-home__content {
      left: 4%; } }
  @media only screen and (max-width: 695px) {
    .header-home__content {
      position: static;
      margin-top: 0; } }

.header-visa {
  align-items: flex-start !important;
  left: 5% !important; }

.greencard-header__content {
  left: 7vw; }
  @media only screen and (max-width: 800px) {
    .greencard-header__content {
      position: static;
      margin-top: 0; } }

.header--home {
  background-image: -webkit-radial-gradient(circle, rgba(23, 65, 113, 0.9) 100%, rgba(32, 88, 225, 0.9) 100%), url("../img/photo-1520885161078-041b9f6ad3ef.jpg");
  background-image: -moz-radial-gradient(circle, rgba(23, 65, 113, 0.9) 100%, rgba(32, 88, 225, 0.9) 100%), url("../img/photo-1520885161078-041b9f6ad3ef.jpg");
  background-image: -o-radial-gradient(circle, rgba(23, 65, 113, 0.9) 100%, rgba(32, 88, 225, 0.9) 100%), url("../img/photo-1520885161078-041b9f6ad3ef.jpg");
  background-image: radial-gradient(circle, rgba(23, 65, 113, 0.9) 100%, rgba(32, 88, 225, 0.9) 100%), url("../img/photo-1520885161078-041b9f6ad3ef.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 1380px) {
    .header--home {
      background-attachment: initial !important; } }
  @media only screen and (max-width: 840px) {
    .header--home {
      margin-top: 7rem; } }
  @media only screen and (max-width: 695px) {
    .header--home {
      background-image: -webkit-radial-gradient(circle, rgba(23, 65, 113, 0.9) 100%, rgba(32, 88, 225, 0.9) 100%), url("../img/home-mobile-banner.jpg");
      background-image: -moz-radial-gradient(circle, rgba(23, 65, 113, 0.9) 100%, rgba(32, 88, 225, 0.9) 100%), url("../img/home-mobile-banner.jpg");
      background-image: -o-radial-gradient(circle, rgba(23, 65, 113, 0.9) 100%, rgba(32, 88, 225, 0.9) 100%), url("../img/home-mobile-banner.jpg");
      background-image: radial-gradient(circle, rgba(23, 65, 113, 0.9) 100%, rgba(32, 88, 225, 0.9) 100%), url("../img/home-mobile-banner.jpg"); } }

@media screen and (min-width: 768px) {
  .tabs input:checked + label {
    top: -5px; } }

.green-card {
  margin-left: 1.5rem; }
  .green-card--inner {
    margin-left: 2rem; }

.svg-right {
  width: 4rem;
  fill: #174171; }

.green-card li {
  font-family: "Catamaran", sans-serif;
  font-size: 1.9rem;
  line-height: 1.7;
  color: #030303;
  font-weight: 200; }

.green-card--inner li {
  font-size: 1.7rem;
  font-weight: 200;
  color: #333333; }

.facility__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.facility__block:not(:last-child) {
  margin-right: 4rem; }
  @media only screen and (max-width: 700px) {
    .facility__block:not(:last-child) {
      margin-right: 0;
      margin-bottom: 2rem; } }

.facility__wrapper {
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 700px) {
    .facility__wrapper {
      padding-left: 0rem;
      padding-right: 0rem; } }
  @media only screen and (max-width: 700px) {
    .facility__wrapper {
      flex-direction: column;
      justify-content: center; } }

.cc-2-column,
.service-features {
  display: grid;
  grid-template-columns: 5fr 1fr; }
  @media only screen and (max-width: 510px) {
    .cc-2-column,
    .service-features {
      grid-template-columns: 6fr 2fr; } }
  @media only screen and (max-width: 355px) {
    .cc-2-column,
    .service-features {
      grid-template-columns: 5fr 2fr; } }

.service__information-table {
  position: relative; }

.service-features:nth-child(odd) {
  background-color: #f5f5f5; }

.service-grid-title {
  position: sticky;
  top: 0; }

section {
  padding: 0 6rem; }
  @media only screen and (max-width: 75em) {
    section {
      padding-left: 4rem;
      padding-right: 4rem; } }
  section-services {
    padding-top: 300rem;
    padding-bottom: 10rem; }

.section__form {
  position: relative;
  z-index: 60;
  margin-top: -545px; }
  @media only screen and (max-width: 860px) {
    .section__form {
      margin-top: -430px; } }
  @media only screen and (max-width: 695px) {
    .section__form {
      margin-top: 5rem;
      padding-left: 1rem;
      padding-right: 1rem; } }

.section-booking {
  padding: 3.6rem 6rem;
  background-image: radial-gradient(circle, rgba(23, 65, 113, 0.8) 100%, rgba(32, 88, 225, 0.8) 100%), url("../img/photo-1473625247510-8ceb1760943f.jpg");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: auto; }

.tabs {
  position: relative; }

.divider {
  height: 20rem; }
  @media only screen and (max-width: 695px) {
    .divider {
      height: 3rem; } }

.title-1:first-child {
  border-right: 1px solid #e2e7ec; }

.cc-title {
  padding: 1rem;
  background-color: #174171; }

.cc-title:first-child {
  border-left: 1px solid #174171; }

.service-name,
.service-form-no {
  padding: 1rem;
  border-right: 1px solid #e2e7ec;
  border-bottom: 1px solid #e2e7ec; }

.service-name {
  border-left: 1px solid #e2e7ec; }

.section-why-choose {
  margin-bottom: 10rem; }

.section-about-company {
  padding-bottom: 10rem;
  overflow: hidden; }

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  @media only screen and (max-width: 629px) {
    .about-container {
      grid-template-columns: 1fr;
      justify-content: center; } }

.about-image {
  margin-left: 4rem;
  background-color: #144474;
  border: 2px solid #e58027;
  border-radius: 2.5rem;
  background-image: url("../img/WhatsApp Image 2020-03-02 at 9.59.33 PM-1920w.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  height: 30rem; }
  @media only screen and (max-width: 629px) {
    .about-image {
      grid-template-columns: 1fr;
      margin-left: 0; } }

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  @media only screen and (max-width: 629px) {
    .about-content {
      justify-self: center;
      align-items: center;
      text-align: center; } }

@media only screen and (max-width: 629px) {
  .paragraph-middle {
    text-align: center; } }

.who-are-we {
  text-align: center; }

.shape-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -50px;
  margin-bottom: 15px; }

.shape-text {
  position: absolute;
  font-family: "Prata", serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: white; }

.divider__slider {
  width: 9.9rem;
  height: 3px;
  background-color: #fff;
  margin: 0 auto; }

.section-form--greencard {
  position: relative;
  z-index: 60;
  margin-top: -500px; }
  @media only screen and (max-width: 1200px) {
    .section-form--greencard {
      margin-top: -527px; } }
  @media only screen and (max-width: 860px) {
    .section-form--greencard {
      margin-top: -399px; } }
  @media only screen and (max-width: 800px) {
    .section-form--greencard {
      margin-top: 10rem; } }

.section-greencard-definition {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.section-greencard__services {
  padding-top: 10rem;
  padding-bottom: 15rem; }

.max-width-600 {
  max-width: 600px; }

.section__save-time {
  margin-bottom: 10rem; }

/* Режим: Tabs */
.ft-tabs > .ft-nav > .ft-tab {
  display: inline-block;
  cursor: pointer; }

.ft-tabs > .ft-contents {
  padding-top: 0.05px;
  padding-bottom: 0.05px;
  position: relative;
  z-index: 10; }
  .ft-tabs > .ft-contents > .ft-content {
    overflow: hidden; }
  .ft-tabs > .ft-contents > .ft-tab {
    display: none; }

/* Режим: Accordion */
.ft-accordion > .ft-nav {
  display: none; }

.ft-accordion > .ft-contents > .ft-tab {
  display: block;
  cursor: pointer; }

.ft-accordion > .ft-contents > .ft-content {
  padding-top: 0.05px;
  padding-bottom: 0.05px;
  overflow: hidden; }

.ft-accordion > .ft-contents > .ft-tab-icon {
  padding-right: 3.3em;
  position: relative; }
  .ft-accordion > .ft-contents > .ft-tab-icon .ft-icon {
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    transition: all 0.2s; }
    .ft-accordion > .ft-contents > .ft-tab-icon .ft-icon > svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%); }
  .ft-accordion > .ft-contents > .ft-tab-icon.active .ft-icon {
    transform: translateY(-50%) rotate(180deg); }

.tab-name {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  display: flex; }

.green-card--list {
  margin-left: 23px; }

.tab-content-wrapper {
  padding: 2rem; }

.all-tab-content-holder {
  border: 1px solid #d9d8d8; }

/* Режим: Tabs */
.ft-theme-default.ft-tabs > .ft-nav > .ft-tab {
  color: #fff;
  text-decoration: none;
  border: 0.5px solid #d9d8d8;
  background-color: #174171;
  padding: 10px 20px;
  top: 1px;
  position: relative;
  z-index: 10; }
  .ft-theme-default.ft-tabs > .ft-nav > .ft-tab.active, .ft-theme-default.ft-tabs > .ft-nav > .ft-tab:hover {
    color: #fff;
    text-decoration: none;
    background-color: #e08f24;
    border-bottom-color: transparent; }
    .ft-theme-default.ft-tabs > .ft-nav > .ft-tab.active:before, .ft-theme-default.ft-tabs > .ft-nav > .ft-tab:hover:before {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 1px;
      bottom: -1px;
      left: -1px;
      background-color: #d9d8d8; }

.ft-theme-default.ft-tabs > .ft-contents {
  color: #333;
  padding: 10px 15px;
  background-color: white; }

/* Режим: Accordion */
.ft-theme-default.ft-accordion > .ft-contents {
  color: #fff; }
  .ft-theme-default.ft-accordion > .ft-contents > .ft-tab {
    color: #fff;
    text-decoration: none;
    border: 1px solid #d9d8d8;
    background-color: #174171;
    padding: 10px 15px;
    margin: 3px 0; }
    .ft-theme-default.ft-accordion > .ft-contents > .ft-tab.active, .ft-theme-default.ft-accordion > .ft-contents > .ft-tab:hover {
      color: #fff;
      text-decoration: none;
      background-color: #e08f24; }
  .ft-theme-default.ft-accordion > .ft-contents > .ft-content {
    padding: 10px 15px;
    background-color: #fff; }
  .ft-theme-default.ft-accordion > .ft-contents > .ft-tab-icon .ft-icon > svg {
    fill: #fff; }

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .tabammount_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  .tabammount_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .tabammount_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .tab-wrapper {
    position: relative; }
  .tab-sticky {
    position: sticky;
    top: -3px;
    z-index: 30; } }

.tab-inner-link {
  text-decoration: underline; }

.section-contact__block {
  height: 650px;
  background-image: url("../img/paper_cut_bg-b0023485-86fbe830-2880w.png");
  background-position-x: 79%;
  background-position-y: 100%;
  background-size: cover;
  background-color: white;
  padding-top: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem; }
  @media only screen and (max-width: 1100px) {
    .section-contact__block {
      background-position-x: 50%; } }
  @media only screen and (max-width: 840px) {
    .section-contact__block {
      padding-top: 13rem !important; } }
  @media only screen and (max-width: 700px) {
    .section-contact__block {
      display: flex;
      flex-direction: column;
      height: auto;
      padding-top: 5rem !important;
      padding-bottom: 3rem;
      align-items: center;
      background-position-x: 50%;
      background: none; } }

.contact-information__svg {
  fill: #e58027;
  width: 5rem; }

.row__text {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  color: #174171;
  font-style: normal;
  line-height: 1.5;
  max-width: 42.3rem;
  margin-left: 10px; }
  .row__text--light {
    font-weight: 200; }

@media only screen and (max-width: 700px) {
  .row-address {
    text-align: center; } }

.contact__information {
  background-color: white;
  padding: 5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
  max-width: 500px;
  height: 510px;
  margin-top: 40px; }
  @media only screen and (max-width: 700px) {
    .contact__information {
      max-width: none;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center; } }

.contact-information__row {
  display: flex;
  align-items: center;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 700px) {
    .contact-information__row {
      flex-direction: column; } }

.contact-information__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 2rem;
  font-weight: 700; }

.divider__contact {
  width: 53px;
  height: 4px;
  margin: 0 auto;
  background-color: #e58027;
  margin-bottom: 3rem; }

.heading-form__information {
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #144474; }
  @media only screen and (max-width: 700px) {
    .heading-form__information {
      text-align: center; } }

.paragraph-form--information {
  font-family: "Catamaran", sans-serif;
  font-weight: 200;
  font-size: 2.2rem;
  color: #010847;
  max-width: 346px; }
  @media only screen and (max-width: 700px) {
    .paragraph-form--information {
      text-align: center;
      margin: 0 auto; } }

.form-label {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #010847;
  margin-bottom: 20px; }

.input-information {
  border: 0;
  border-bottom: 1px solid #d5d5d5;
  height: 30px;
  margin-bottom: 2.5rem; }

.contact-information-form {
  max-width: 70%; }
  @media only screen and (max-width: 700px) {
    .contact-information-form {
      max-width: none;
      width: 100%; } }

.map__wrapper {
  width: 100%;
  height: 330px;
  border: 5px solid #e58027; }

#map {
  width: 100%;
  height: 100%; }

.store-info-window {
  min-width: 350px;
  font-size: 13px;
  padding: 8px;
  color: #444a44; }

.store-info-name {
  font-size: 21px;
  font-weight: bold;
  color: #174171; }

.store-info-status {
  margin-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid gray; }

.store-info-address,
.store-info-phone {
  margin-top: 8px;
  display: flex;
  align-items: center; }

.logo-phone,
.logo-location {
  height: 20px;
  width: auto;
  max-width: 100%; }

.store-info-address .circle,
.store-info-phone .circle {
  width: 30px;
  height: 30px;
  background-color: #174171;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px; }

a {
  color: #444a44;
  text-decoration: none; }

a:hover {
  color: #174171; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.stars {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #e58027; }

.slider__image-wrapper {
  padding: 6rem;
  background-image: radial-gradient(circle, rgba(23, 65, 113, 0.91) 100%, rgba(32, 88, 225, 0.91) 100%), url("../img/photo-1558834528-d2e28e4cf5cc.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 860px) {
    .slider__image-wrapper {
      padding-left: 2rem;
      padding-right: 2rem; } }

.slider__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  color: #f08421; }

.divider__slider {
  width: 9.9rem !important;
  height: 3px !important;
  margin: 0 auto !important;
  margin-bottom: 2rem !important; }

.swiper-button-next {
  color: white; }

.swiper-button-prev {
  color: white; }

.nav__logo-mobile {
  width: 60px; }

.navbar-container {
  position: relative;
  z-index: 10000;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important; }
  @media only screen and (max-width: 840px) {
    .navbar-container {
      display: none !important; } }

@media only screen and (max-width: 840px) {
  .top-notification {
    display: none !important; } }

@media only screen and (min-width: 840px) {
  .bottom-notification {
    display: none !important; } }

@media screen and (min-width: 769px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.6rem;
    background-image: radial-gradient(circle, #174171 100%, #2058e1 100%) !important;
    background-origin: border-box !important;
    padding-left: 6rem;
    padding-right: 6rem;
    position: static !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35); }
  .ace-responsive-menu > li > a > .arrow:before {
    margin-left: 15px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: " \276F";
    font-weight: 300;
    text-shadow: none;
    width: 10px;
    display: inline-block;
    transform: rotate(90deg);
    display: none !important; } }

.title-home {
  margin-top: 3px; }

.dropdown__title {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.toggole-arrow {
  margin-top: -2px;
  transition: all 0.2s;
  margin-left: 4px; }

@media only screen and (min-width: 769px) {
  .dropdown__title:hover .toggole-arrow {
    transform: rotateZ(180deg); } }

.phone-icon-menu {
  color: #e58027 !important;
  fill: #e58027 !important; }

.rotate-icon {
  transform: rotateZ(180deg); }

.footer {
  border: 1px solid #e58027;
  background-color: #174171;
  padding: 6rem; }

.footer__paragraph {
  margin-top: 10px;
  font-family: "Catamaran", sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  color: white;
  max-width: 322px;
  line-height: 1.7; }
  @media only screen and (max-width: 630px) {
    .footer__paragraph {
      text-align: center; } }

.footer__header {
  font-family: "Catamaran", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  color: #e58027;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 630px) {
    .footer__header {
      text-align: center; } }

.footer__list {
  list-style: none; }

.footer__list-item a {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: white; }

.footer__list-item {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: white;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 630px) {
    .footer__list-item {
      text-align: center; } }

.footer__bottom-column {
  font-family: "Catamaran", sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  color: white; }
  @media only screen and (max-width: 630px) {
    .footer__bottom-column {
      justify-self: center; } }
  @media only screen and (max-width: 630px) {
    .footer__bottom-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; } }

.copyright-text {
  color: #f08421;
  font-weight: 700; }

.footer__main {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 880px) {
    .footer__main {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); } }
  @media only screen and (max-width: 630px) {
    .footer__main {
      grid-template-columns: 1fr;
      align-content: center;
      justify-content: center; } }

.footer__bottom {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 2rem; }
  @media only screen and (max-width: 630px) {
    .footer__bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 5rem;
      border-top: 1px solid white; } }

@media only screen and (max-width: 630px) {
  .footer__column {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

.footer__dropdown {
  margin-top: 10px;
  list-style: none;
  margin-left: 13px; }

.footer__dropdown--item {
  margin-bottom: 10px; }

.title {
  display: inline-block; }

@media only screen and (min-width: 769px) {
  .title::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #e58027;
    transition: all 0.3s;
    transform: scale(0);
    transform-origin: center; } }

@media only screen and (min-width: 769px) {
  .title:hover::after {
    width: 100%;
    transform: scale(1);
    transform-origin: center; } }

@media only screen and (min-width: 769px) {
  .active-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #e58027;
    transition: all 0.3s;
    transform: scale(1);
    transform-origin: center; } }

@media only screen and (max-width: 768px) {
  #btn-phone-number {
    display: none; } }

.footer-icon:not(:last-child) {
  margin-right: 1.4rem; }

.social-icon-block {
  display: flex;
  align-items: center; }

.site-navbar {
  background-image: radial-gradient(circle, #174171 100%, #2058e1 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important; }
  @media only screen and (min-width: 841px) {
    .site-navbar {
      display: none !important; } }

/* default css end */
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }

a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none; }

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase; }

/* navbar regular css end */
/* nav-toggler css start */
.nav-toggler {
  outline: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  /*   height: 39px; */
  box-shadow: none !important; }

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #e58027;
  display: block;
  transition: 0.3s; }

.nav-toggler span:before {
  content: "";
  transform: translateY(-9px); }

.nav-toggler span:after {
  content: "";
  transform: translateY(6px); }

.nav-toggler.toggler-open span {
  background-color: transparent; }

.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg); }

.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg); }

/* nav-toggler css start */
@media only screen and (max-width: 768px) {
  .navbar-container {
    display: none; } }

/* mobile breakpoint start */
/* navbar css for mobile start */
.nav-toggler {
  position: relative;
  display: block; }

.site-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  z-index: 110000; }

.site-navbar ul {
  position: fixed;
  width: 100%;
  /*     height: calc(100vh - 60px); */
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  background-color: #144474;
  max-height: 0;
  transform: translateY(-100%);
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.list {
  margin: 0;
  margin-top: 10px;
  margin-bottom: auto; }

.site-navbar ul li {
  width: 100%;
  text-align: center; }

.site-navbar ul li a {
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 500;
  color: #e58027;
  text-transform: capitalize; }
  @media only screen and (max-width: 415px) {
    .site-navbar ul li a {
      font-size: 21px; } }

.site-navbar ul.open {
  min-height: 100vh;
  overflow: visible;
  overflow-y: auto;
  transform: translateY(0); }

/* navbar css for mobile end */
.mobile-nav-bottom {
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: #fff !important;
  background-repeat: no-repeat !important;
  background-image: url(../img/30-years-157885aa-56106246-640w.png) !important;
  background-size: 300px auto !important;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.mobile-nav-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e58027 !important;
  opacity: 0.85 !important; }

.social-bottom-link {
  display: flex;
  align-items: center;
  margin-bottom: 25px; }

.s-b-l:not(:last-child) {
  margin-right: 3rem; }

.bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.follow {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  margin-bottom: 2rem; }

.btn-contact-fooeter {
  padding: 1.2rem 3rem;
  display: inline-block;
  font-family: "Catamaran", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  background-color: #174171;
  border-radius: 10rem !important;
  border: none;
  cursor: pointer;
  margin-bottom: 0;
  align-self: stretch; }

.btn-contact-fooeter:active,
.btn-contact-fooeter:focus {
  outline: none;
  transform: translateY(-1px); }

.btn-contact-fooeter:hover {
  color: white !important; }

.dropdown-title-text-mobile {
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #e58027;
  text-transform: capitalize; }

.touch-d-link {
  font-weight: 300;
  padding: 5px !important;
  font-size: 15px !important; }

.active-nav-item {
  font-weight: 700 !important; }

.ft-2:not(:last-child) {
  margin-right: 3rem; }

@media only screen and (max-width: 920px) {
  .header__paragraph--greencard {
    max-width: 279px !important; } }

@media only screen and (max-width: 700px) {
  .divider {
    height: 3rem !important; } }

.dropdown-title-text-mobile {
  font-size: 26px; }
  @media only screen and (max-width: 415px) {
    .dropdown-title-text-mobile {
      font-size: 21px; } }
