---
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

interface Props {
  title: string;
  description: string;
  canonical: string;
}

const { title, description, canonical } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cardo&family=Catamaran:wght@200;400;600;700&family=Prata&family=Raleway:wght@300;500;600;700&display=swap"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer
      is:inline></script>
    <slot name="head" />
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
    <script>
      import '../scripts/animation';
    </script>
  </body>
</html>
